<p>Hi <%= firstName %>,</p>

<p>Welcome aboard! 🎉,</p>

<p>We’re thrilled to have you join us.</p>

<p>We can’t wait to see the amazing impact you’ll make 🌟
If you have any questions or need any help, don’t hesitate to reach out — we’re all here to support you.</p>

<p>For security concerns, this link is valid till 24 hours. In case the link expires,
click forgot password on login page to setup your account password.</p>

<div style="text-align: center;margin: 30px 0;">
    <a href="<%= adminPlatformUrl %>" style="text-decoration: none; border-radius: 4px;padding: 8px 12px; color: #fff; background-color: #0C66E4; font-weight: 400;">GET STARTED</a>
</div>