<hr>
<div class="footer">
    <div style="text-align: center">
        <img src="<%- appLogo %>" style="width: 200px">
        <p>&copy; <%= new Date().getFullYear() %> CloudFitNest. All rights reserved.</p>
    </div>
</div>
